body {
    background-color: #8BA1BB;
    font-family: Arial;
}
*{
    overflow: auto;
}

div.categorie{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: visible;
}
div.contenu {
    background-color: white;
    margin: 40px 8px 40px 8px;
    padding: 0px 8px 20px 8px;
    min-width: 350px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
    overflow: visible;
}
h1{
    text-align: center;
    padding-top: 25px;
}
p.description{
    max-width: 400px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}
div.description{
    text-align: center;
}
.centre{
    width: 100%;
}
p.categorie {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 8px 18px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    margin-top: -15px;
}
.separateur{
    height: 1px;
    width: 100px;
    background-color: black;
    margin: auto;
}
div.info{
    position: relative;
}
table.info{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #6C829DC0;
    height: 50px;
}
table.info td{
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}
table.info th{
    font-size: 14px;
    vertical-align: bottom;
    padding-bottom: 12px;
}
img .info{
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: lightgrey;
}
div .colonne{
    width: 100%;
    margin-top: 20%;
}

div .colonne h2{
    text-align: center;
    text-transform: uppercase;
    border-bottom: 10px solid #6C829D;
    font-size: 15px;
    padding-bottom: 5px;
}
div .colonne1{
    display: inline-block;
}
div .ingredients p{
    border: 1px solid lightgray;
    padding: 8px 0px;
    font-size: 14px;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 0;

}
table.preparation p.numero{
    background-color: #6C829D;
    width: 25px;
    text-align: center;
    height: 25px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}
table.preparation td{
    vertical-align: top;
}
table.preparation td.preparation_etape{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}
table.preparation tr{
    height: 40px;
}
/*STYLE POUR ORDINATEUR */

@media only screen and (min-width: 768px){
    div.contenu {
        margin: 60px 10% 80px 10%;
        padding: 0 30px 30px 30px;
        min-width: 350px;
        
    }
    table.info{
        height: 100px;
    }
    table.info td{
        font-size: 13px;
    }
    table.info th{
        font-size: 16px;
    }
    div .colonne{
        width: 45%;
    }
    
    div .colonne1{
        margin-right: 10%;
    }
    div .colonne2{
        float: right;
    }
}
@media only screen and (min-width: 900px){
    div.contenu{
        margin-left: auto;
        margin-right: auto;
        width: 645px;
    }
}